<div fxLayout="row">
    <app-sidebar></app-sidebar>

    <div fxFlex="65%" class="video-detail">
        <div fxLayout="column" fxLayoutGap="8px">
            <app-video-player *ngIf="videoAvailable" [videoUrl]="videoUrl"></app-video-player>
            <div class="mat-title">{{videoTitle}}</div>
            <div fxLayout="row">
                <div fxFlex="50%">
                    <span class="view-count">{{viewCount}} Views</span>
                    <span class="dot"></span>
                    <span class="video-upload-date">{{date}}</span>
                </div>
                <div fxFlex="50%" fxLayoutAlign="end">
                    <span class="like-dislike-section">
                        <button mat-icon-button class="thumbs-up" (click)="likeVideo()">
                            <mat-icon>thumb_up_off_alt</mat-icon>
                            {{likeCount}}
                            </button>
                        <button mat-icon-button class="thumbs-down" (click)="dislikeVideo()">
                        <mat-icon>thumb_down_off_alt</mat-icon>
                            {{dislikeCount}}
                        </button>
                    </span>
                </div>
            </div>
            <mat-divider></mat-divider>
            <mat-card-header>
                <mat-card-title>{{authorNickname}}</mat-card-title>
                <mat-card-subtitle class="subtitles">{{subscribersCount}} Subscribers</mat-card-subtitle>
                <div *ngIf="!isAuthor">
                    <button class="subscribe-button" mat-raised-button color="warn" *ngIf="showSubscribeButton"
                            (click)="subscribeToUser()">
                        SUBSCRIBE
                    </button>
                    <button class="subscribe-button-clicked" mat-raised-button color="accent"
                            *ngIf="showUnsubscribeButton"
                            (click)="unsubscribeToUser()">
                        UNSUBSCRIBE
                    </button>
                </div>
                <div *ngIf="isAuthor">
                    <button class="subscribe-button" mat-raised-button color="accent"
                            (click)="deleteVideo()">
                        DELETE
                    </button>
                </div>
            </mat-card-header>
            <div>{{videoDescription}}</div>
            <mat-divider></mat-divider>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of videoTags">{{tag}}</mat-chip>
            </mat-chip-list>
            <mat-divider></mat-divider>
            <app-comments [videoId]="videoId"></app-comments>
        </div>
    </div>
    <div fxFlex="5%"></div>
    <div fxFlex="30%" class="suggestion-bar">
    </div>
</div>