<div fxLayout="row">
    <div fxFlex="65%" class="video-detail">
        <div fxLayout="column" fxLayoutGap="8px">
            <app-video-player *ngIf="videoAvailable" [videoUrl]="videoUrl"></app-video-player>
            <div class="mat-title">{{videoTitle}}</div>
            <div fxLayout="row">
                <div fxFlex="50%">
                    <span class="view-count">{{viewCount}} Views</span>
                    <span class="dot"></span>
                    <!--                    todo добавить дату-->
                    <span class="video-upload-date">Apr 13, 2021</span>
                </div>
                <div fxFlex="50%" fxLayoutAlign="end">
                    <span class="like-dislike-section">
                        <button mat-icon-button class="thumbs-up" (click)="likeVideo()">
                            <mat-icon>thumb_up_off_alt</mat-icon>
                            {{likeCount}}
                            </button>
                        <button mat-icon-button class="thumbs-down" (click)="dislikeVideo()">
                        <mat-icon>thumb_down_off_alt</mat-icon>
                            {{dislikeCount}}
                        </button>
                    </span>
                </div>
            </div>
            <mat-divider></mat-divider>
            <mat-card-header>
                <!--                todo добавить ник юзера-->
                <mat-card-title>Simankovd</mat-card-title>
                <!--                todo добавить количество подписчиков-->
                <mat-card-subtitle class="subtitles">4.2K Subscribers</mat-card-subtitle>
                <button class="subscribe-button" mat-raised-button color="warn" *ngIf="showSubscribeButton"
                        (click)="subscribeToUser()">
                    SUBSCRIBE
                </button>
                <button class="subscribe-button-clicked" mat-raised-button color="accent" *ngIf="showUnsubscribeButton"
                        (click)="unsubscribeToUser()">
                    UNSUBSCRIBE
                </button>
            </mat-card-header>
            <div>{{videoDescription}}</div>
            <mat-divider></mat-divider>
            <mat-chip-list>
                <mat-chip>Spring Boot</mat-chip>
                <mat-chip>Angular</mat-chip>
            </mat-chip-list>
            <mat-divider></mat-divider>
            <app-comments [videoId]="videoId"></app-comments>
        </div>
    </div>
    <div fxFlex="5%"></div>
    <div fxFlex="30%" class="suggestion-bar">
    </div>
</div>